<!-- <button (click)="LoginGoogle()">Login with Google</button> -->

<!-- <div class="myForm login-form">
  <h4 class="header-margin card-header info-color white-text text-center py-4">
    <strong>Sign in</strong>
  </h4>
  <form class="container-fluid">
    <div class="form-group">
      <label for="email" class="">Email: </label>
      <input type="email" id="email" placeholder="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="password" class="">Password: </label>
      <input type="password" id="password" class="form-control">
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary sign-botton">SIGN IN</button>
    <p>Not a member?
      <a routerLink="/register">Register</a>
    </p>
    <p>or sign in with:</p>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a (click)="LoginGoogle()" class="fa fa-google"></a>
  </form>
</div> -->
