.dashboard {
  height: 300px;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 1px 0px 5px 1px;
  margin: 10px;
}

@media (min-width: 992px) {
  .col-md-3 {
    width: 23%;
  }
}

.bold-font {
  font: bold
}

img {
  max-width: 100%;
  max-height: 100%;
  /* height: 180px; */
}

.span-news {
  display: inline-block;
  width: 250px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.content-height {
  max-height: 100px;
  overflow: auto;
  scroll-behavior: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5);

}

img:hover {
  max-width: 100%;
  max-height: 100%;
  /* height: 0px; */
}

.myForm {
  min-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 500px) {
  .myForm {
    min-width: 90%;
  }
}

.login-header {
  height: 50px;
  background: #33b5e5 !important;
  width: 100% !important;
  box-shadow: 0px 0px 1px 0px;
  text-align: center;
}

.header-margin {
  margin-top: 0 !important;
  padding: 20px !important;
  margin-bottom: 10px !important;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  /* background-color: rgba(0,0,0,.03); */
  border-bottom: 1px solid
}

.info-color {
  background-color: #33b5e5 !important;
}

.white-text {
  color: #fff !important;
}

.text-center {
  text-align: center !important;
}

.login-form {
  height: 450px;
  border-radius: 5px;
  box-shadow: 1px 0px 5px 1px;
}

.fa {
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.sign-botton {
  margin-left: 40%;
  margin-bottom: 2em;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
