<nav class="navbar navbar-inverse">
  <div class=" container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">News Updates</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li (click)="LogoutGoogle()"><a routerLink="/login" routerLinkActive="active"><span
            class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- <div class="col-md-12" *ngIf="profiles && profiles?.status=='ok'">
  <div *ngFor="let profile of profiles?.articles">
    <div class="col-md-3 dashboard">
      <span class="span-news"><a title="{{profile.title}}" target="_blank"
          href={{profile.url}}>{{profile.title}}</a></span>
      <hr>
      <div *ngIf="profile.urlToImage" class="zoom" style="height: 50%;">
        <a title="{{profile.title}}" target="_blank" href={{profile.url}}><img alt='Not Found'
            src="{{profile.urlToImage}}"></a>
      </div>
      <div class="col-md-12 col-sm-12 content-height">
        <a target="_blank" style="color:#333;" href={{profile.url}}>{{profile.title}}</a>
      </div>
    </div>
  </div>
</div> -->
